# Copyright (c) 2022, LineageOS. All rights reserved.
#
# init.nb.fpc.rc

on boot

# fingerprint (fpc)
    mkdir /dev/fpcSocket 0770 system system
    chmod 0777 /dev/fpcSocket
    chown system system /sys/bus/platform/devices/1.fpc1020/irq
    chmod 0660 /sys/bus/platform/devices/1.fpc1020/irq
    chown system system /sys/bus/platform/devices/1.fpc1020/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/1.fpc1020/wakeup_enable
