# Copyright (c) 2016, nubia. All rights reserved.
#
# init.nb.input1.rc
# For all nubia projects defined in device/zte

on post-fs-data

# tp and lcd node (input1)
    symlink /sys/devices/soc/c179000.i2c/i2c-5/5-004b/ic_ver /data/vendor/tp/ic_ver
    symlink /sys/bus/i2c/devices/5-004b/reset /data/vendor/tp/reset
    symlink /sys/devices/soc/c179000.i2c/i2c-5/5-004b/ic_detect /data/vendor/tp/ic_detect
    symlink /sys/devices/soc/c179000.i2c/i2c-5/5-004b/start_update /data/vendor/tp/start_update
    chown system system /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/wake_gesture
    symlink /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/wake_gesture /data/vendor/tp/easy_wakeup_gesture
    chown system system /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/palm_sleep
    symlink /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/palm_sleep /data/vendor/tp/easy_sleep_palm
    write /sys/devices/soc/c179000.i2c/i2c-5/5-004b/start_update 1
    chown system system /sys/kernel/lcd_enhance/colortmp
    chown system system /sys/kernel/lcd_enhance/saturation
    chown system system /sys/kernel/lcd_enhance/cabc
    chown system system /sys/kernel/lcd_enhance/lcd_power_on
    chown system system /sys/kernel/lcd_enhance/lcd_power_off
    chown system system /sys/class/input/input1/f54/read_rt2
    chown system system /sys/class/input/input1/f54/read_rt3
    symlink /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/f54/read_rt2 /data/vendor/tp/read_rt2
    symlink /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/f54/read_rt2 /data/vendor/tp/debug/read_rt2
    symlink /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/f54/read_rt3 /data/vendor/tp/read_rt3
    symlink /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/f54/read_rt3 /data/vendor/tp/debug/read_rt3
    chown system system /sys/bus/i2c/devices/5-004b/start_user_update
    symlink /sys/bus/i2c/devices/5-004b/start_user_update /data/vendor/tp/start_user_update
    
    chown system system /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/wake_gesture
    chmod 0644 /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/wake_gesture

    chown system system /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/reversed_keys
    chmod 0644 /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/reversed_keys

on property:sys.tp.wakeup=*
    write /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/wake_gesture ${sys.tp.wakeup}

on property:sys.tp.palmsleep=*
    write /sys/devices/soc/c179000.i2c/i2c-5/5-004b/input/input1/palm_sleep ${sys.tp.palmsleep}
