# Copyright (c) 2022, LineageOS. All rights reserved.
#
# init.nb.goodix.rc

on boot

# fingerprint (goodix)
    chown system system /dev/goodix_fp
    chmod 0777 /dev/goodix_fp
    setprop ro.hardware.fingerprint goodix
