# Copyright (c) 2022, LineageOS. All rights reserved.
#
# init.nb.sensor.rc

# nubia customization
import /vendor/etc/init/hw/init.nb.common.rc
import /vendor/etc/init/hw/init.nb.fpc.rc
import /vendor/etc/init/hw/init.nb.goodix.rc
import /vendor/etc/init/hw/init.nb.iput1.rc
import /vendor/etc/init/hw/init.nb.iput4.rc
import /vendor/etc/init/hw/init.nb.ir.rc
import /vendor/etc/init/hw/init.nb.multicolor.rc
import /vendor/etc/init/hw/init.nb.nfc.rc
import /vendor/etc/init/hw/init.nb.radio.rc
import /vendor/etc/init/hw/init.nb.vibrator.rc